/* used only in jqueryui and jquery demos */
body {
  font-size: 12px;
  font-family: sans-serif;
}

#project-sheet {
  border-collapse: collapse;
  width: 100%;
}

#project-sheet > tbody > tr > td {
    height: 25px;
    vertical-align: top;
    padding: 15px 3px 0px 3px;
    font-size: 1.2em;
}

/* label */
#project-sheet > tbody > tr > td:nth-child(1) {
  color: #333;
}

/* Data */
#project-sheet > tbody > tr > td:nth-child(2) {
  border-bottom: solid 1px #247940;
}

.muted {
   color: #999999;
}

.alert {
  padding: 5px;
  margin-bottom: 10px;
}

h2 {
 margin-top: 40px;
}

hr {
 color: #C0C0C0;
}

.input-large {
  width: 300px;
}

.tip-yellowsimple label{
  font-weight: bold;
  line-height: 2em;
}
