
@font-face {
  font-family: 'Raleway-Heavy';
  src: url('Raleway/Raleway-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 12px;
  font-family: 'Raleway-Medium';
}

#project-sheet {
  border-collapse: collapse;
  width: 100%;
}

#project-sheet > tbody > tr > td {
    height: 35px;
    text-align: left;
}

/* label */
#project-sheet > tbody > tr > td:nth-child(1) {
  text-align: left;
  padding-right: 10px;
  font-family: 'Raleway-Regular';
  font-size: 13pt;
  color:#247940;
  width: 20%;
  border-right: solid 2px #247940;
}

/* Data */
#project-sheet > tbody > tr > td:nth-child(2) {
  border-bottom: solid 2px #247940;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13pt;
  width: 80%;
}
/*#test {
  background-color: yellow;
}*/

.no-print{
  padding-bottom: 20px;
}


.muted {
   color: #999999;
}

.alert {
  padding: 5px;
  margin-bottom: 10px;
}
h1 {
  margin-left: 20%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Raleway-Heavy';
  text-transform: uppercase;
  letter-spacing: 4px;
  color:#247940;
  font-size: 20pt;
  text-align: center;
  border-bottom: solid 2px #247940;
}
h2 {
 margin-top: 40px;
}

td{
  vertical-align:middle;
}

hr {
 color: #C0C0C0;
}

.input-large {
  width: 300px;
}

.tip-yellowsimple label{
  font-weight: normal;
  line-height: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
p {
  margin-left: 20%;
  font-size: 11pt;
}
span {
  font-size: 10pt;
}
label {
  font-size: 10pt;
}
a {
  color:#0036A9;
}
