

body {
  font-size: 12px;
  font-family: 'RalewayRegular';
}

#project-sheet {
  border-collapse: collapse;
  width: 100%;
}

#project-sheet > tbody > tr > td {
    height: 30px;
    vertical-align: top;
    padding: 15px 3px 0px 3px;
    font-size: 1.2em;
    text-align: left;
}

/* label */
#project-sheet > tbody > tr > td:nth-child(1) {
  color: #333;
  text-align: right;
  padding-right: 15px;
  font-family: 'RalewayBold';
  color:#247940;
}

/* Data */
#project-sheet > tbody > tr > td:nth-child(2) {
  border-bottom: solid 2px #247940;
  padding-left: 15px;
  font-size: 13pt;
}

.muted {
   color: #999999;
}

.alert {
  padding: 5px;
  margin-bottom: 10px;
}
h1 {
  margin-left: 20%;
  font-family: 'RalewayBlack';
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#247940;
  font-size: 20pt;
}
h2 {
 margin-top: 40px;
}

hr {
 color: #C0C0C0;
}

.input-large {
  width: 300px;
}

.tip-yellowsimple label{
  font-weight: normal;
  line-height: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
p {
  margin-left: 20%;
  font-size: 11pt;
}
span {
  font-size: 10pt;
}
label {
  font-size: 10pt;
}
