@media print {
body > div {
  width: 90% !important;
    }

@font-face {
    font-family: 'Raleway-Heavy';
    src: url('Raleway/Raleway-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.no-print { display: none }


a.editable-click,
a.editable-click:hover {
  /* color: black; */
  border-bottom: none;
}
table {
  margin-top: 25px;
}

#project-sheet > tbody > tr > td {
    height: 10px;
}


.editable-empty {
  display: none;
}

#project-sheet > tbody > tr > td:nth-child(1) {
  text-align: left;
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
  color:#247940;
  width: 25%;
  margin-left: 20px;
}


#project-sheet > tbody > tr > td:nth-child(2) > a {
  font-family: 'Raleway-Medium';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color:#000;
  width: 75%;
  font-size: 10.5pt;
}

}
