@media print {
.no-print { display: none }

@import url(//fontlibrary.org/face/raleway);

body > div { width: 100% !important; font-family: 'RalewayRegular';}

a.editable-click,
a.editable-click:hover {
  /* color: black; */
  text-decoration: none;
  border-bottom: none;
}

.editable-empty {
  display: none !important;
}

#project-sheet {
  font-family: 'RalewayRegular' !important;
}

#project-sheet > tbody > tr > td:nth-child(1) {
  text-align: right;
  padding-right: 15px;
  font-family: 'RalewayRegular' !important;
  font-size: 7pt;
  color:#000;
}


#project-sheet > tbody > tr > td:nth-child(2) > a {
  border-bottom: solid 2px #247940;
  font-family: 'RalewayBold' !important;
  color:#247940;
  font-size: 7pt;
  text-decoration: none;
}
}
